.post
  overflow: hidden
  margin-top: 30px
  border: 1px solid $border-color;

.post__head
  margin: $margin-left-right

  &.archive
    margin: 30px $margin-left-right

.post__time
  color: #CCCCCC
  font-size-rem(12)

.post__title
  margin-top: 5px
  line-height: 1.5

  // 1.6 * 16
  font-size-rem(24)
  font-weight: normal
  > a
    color: #666

.post__image
  display: block
  margin: 60px 0

.post__main
  margin-top: $margin-left-right

  .headerlink
    display: inline-block

  .highlight
    margin: 1.6em -60px
    padding: 15px

    figcaption
      padding: 0 30px

    table
      margin: 0
      width: auto
      border: none

    td
    th
      border: none

    pre
      margin: 0

  h1
    // 1.6 * 16
    font-size-rem(25.6)

  h2
    // 1.4 * 16
    font-size-rem(22.4)

  h3
    // 1.2 * 16
    font-size-rem(19.2)

  img
    // display: block
    margin: 1.6em auto

.post__foot
  padding: 15px 60px
  border-top: 1px solid $border-color
  background-color: $background-color

.post__foot-link
  padding: 10px
  color: #999999
  font-size-rem(14)

.post__tag__item
  display: inline-block

.post__tag__link
  @extend .post__foot-link
  display: block
  &:hover
    color: #9c396b
  &:before
    content: "#"

.post__more
  @extend .post__foot-link
  padding: 10px 20px
  border: 1px solid $border-color
  border-radius: 3px
  background-color: #CCCCCC
  color: #FFFFFF
  &:hover
    background-color: #DDDDDD
