// Base
$base-background = #f6z
$base-font-size = 14px
$base-font-color = #666
$base-line-height = 1.5
$base-font-family = 'Helvetica Neue', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', 'Microsoft Yahei', sans-serif
$base-code-font-family = 'Source Code Pro', Consolas, 'Liberation Mono', Courier, monospace, serif
$base-link-color = #258fb8
$base-link-color-hover = #258fb8


// General colors
$highlight-foreground = #399c9c
// @syntax-cursor-color: #009688
$highlight-background =  #FAFAFA
$highlight-comment = #B0BEC5

// Code Color
// $highlight-background = #473D41
// $highlight-current-line = #393939
$highlight-selection = #c5c8c6
// $highlight-foreground = #81a2be
// $highlight-comment = #999999

$highlight-func-keyword = #80cbc4
// $highlight-red = #91ba61
$highlight-orange = #ff5370
$highlight-yellow = #ffcc66
$highlight-green = #91ba61
$highlight-aqua = #66cccc
$highlight-blue = #6699cc
$highlight-purple = #cc99cc
