doctype html
html.index(lang="zh-CN")
  head
    include head
  body    
    #particles-oli-wrapper.hide
    .index-wrapper
      header.head.index.hide
        h1.head-title.u-fl
          = config.title
        include nav

    script(src='/js/particles.min.js')
    script(src='/js/particles.oli.js')
