html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    font: 24px/1.5 "Microsoft YaHei", "微软雅黑", "宋体", sans-serif;
}

body {
    min-height: 740px;

    background: #55bd00;
    color: #fff;
}

.step {
    position: relative;
    width: 900px;
    padding: 40px;
    margin: 20px auto;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;

}

.impress-enabled .step {
    margin: 0;
    opacity: 0.3;

    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.impress-enabled .step.active {
    opacity: 1
}

.slide {
    display: block;

    width: 900px;
    height: 700px;
    padding: 40px 60px;

    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .1);

    color: rgb(102, 102, 102);
    text-shadow: 0 2px 2px rgba(0, 0, 0, .1);

    font: 36px/1.5 "Microsoft YaHei", "微软雅黑", "宋体", sans-serif;
    letter-spacing: -1px;
}

.slide.green {
    background-color: #55bd00;
    color: #fff;
}

.slide q {
    display: block;
    font-size: 50px;
    line-height: 72px;

    margin-top: 100px;
}

.slide q strong {
    white-space: nowrap;
}

/* ---------------------------------------------------------------- */
/* write my css here. */
/* ---------------------------------------------------------------- */

#landing {
    text-align: center;
}

#landing h1 {
    margin: 10px 0 180px;
    font-size: 72px;
    text-shadow: 1px 1px 1px #f0f0f0;
    letter-spacing: 6px;
}

#landing .author {
    font-size: 32px;
}

/*.active.present#previous-company {*/
/*background-color: #fff;*/
/*}*/

#previous-company-2 p {
    position: relative;
    top: -200px;
}

#previous-company-3 p {
    position: relative;
    top: 200px;
}

#previous-company-4 p {
    position: relative;
    top: -200px;
    right: 0;
    text-align: right;
    color: #55bd00;
}

/* previous company */

/* previous-job */
#previous-job-1 h1 {
    width: 40px;
    font-size: 48px;
    text-shadow: 1px 1px 1px #f0f0f0;
}

.previous-job p {
    padding-left: 140px;
    position: relative;
    visibility: hidden;
}

.previous-job p strong {
    font-size: 42px;
    font-weight: 900;
}

#previous-job-2 p {
    top: -260px;
}

#previous-job-3 p {
    top: -140px;
    font-size: 28px;
}

#previous-job-4 p {
    top: -20px;
    font-size: 32px;
}

#previous-job-5 p {
    top: 120px;
    font-size: 36px;
}

#previous-job-6 p {
    top: 260px;
    font-size: 40px;
}

.rotating10 {
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    /* transform:         rotate(-10deg); */
    /* -webkit-transition-delay: 0.5s; */
    -moz-transition-delay: 0.5s;
    -ms-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
    /* transition-delay:         0.5s; */
}

.rotating-10 {
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    /* transform:         rotate(-10deg); */
    /* -webkit-transition-delay: 0.5s; */
    -moz-transition-delay: 0.5s;
    -ms-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
    /* transition-delay:         0.5s; */
}

.scaling {
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
    transform: scale(0.7);

    -webkit-transition-delay: 0.5s;
    -moz-transition-delay: 0.5s;
    -ms-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
    transition-delay: 0.5s;
}

.impress-enabled {
    pointer-events: none
}

.impress-enabled #impress {
    pointer-events: auto
}